#container {
    -fx-background: #ebfaf0;
    -fx-pref-width: 1500px;
    -fx-pref-height: 1000px;
    -fx-padding: 35px;

}

/*
    -fx-spacing: 20px;

*/

.table {
    -fx-padding: 15px;
    -fx-spacing: 20px;
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

.heading-label {
    -fx-font-size: 20;
}

/*-fx-font-style: italics;*/

#logLabel {
    -fx-background-color: #eeeeee;
    -fx-height: 300px;
}


#logScrollPane {
    /*-fx-height: 300px;*/
}
